<!DOCTYPE html>
<html lang="en" ng-app="listAssist" data-framework="angularjs" class="ng-scope">
<head>
    <meta charset="utf-8">
    <title>List Assist</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
	<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script src="js/base/ui-bootstrap-tpls-1.3.3.min.js"></script>
	<script src="js/base/moment.min.js"></script>
    <script src="js/base/datetimepicker.min.js"></script>
	<script src="js/base/datetimepicker.templates.js"></script>
	<script src="js/listassist.js"></script>
    <script src="js/controllers/todoctrl.js"></script>
</head>

<body>
    <div class="container app-wrap ng-scope" ng-controller="todoCtrl">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">List Assist</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 select-all-wrapper">
                <label class="sr-only" for="select-all">Mark All As Completed</label>
                <input type="checkbox" id="select-all" class="select-all">
            </div>
            <div class="col-sm-3 order-by-wrap">
                <label for="order-by">Order By:
					<div id="order-by" class="btn-group">
						<label class="btn btn-primary" ng-model="data.orderBy" uib-btn-radio="'entry'">Entry</label>
						<label class="btn btn-primary" ng-model="data.orderBy" uib-btn-radio="'deadline'">Deadline</label>
					</div>
				</label>
            </div>
        </div>
		<ol class="list-group todo-list">
			<li class="panel panel-default" ng-repeat="x in data.todoItems">
                <div class="panel-heading">
                    <div class="checkbox">
                        <label>   
                            <input type="checkbox" class="check-complete" ng-model="x.completed">
                            <h4 class="panel-title">
                                <a class="todo-item" ng-class="{completed: x.completed}" href="#" ng-click="x.isCollapsed = !x.isCollapsed">{{ x.name }} : {{x.details}} | {{x.deadline | date}}</a>
                            </h4>
                        </label>
                    </div>
                </div>
                <div class="panel-body" uib-collapse="x.isCollapsed">
                    <form class="col-sm-3" ng-submit="updateItem(x, newDetails, newDeadline, newAlarm)">
                        <label>
							Details
							<input class="form-control" type="text" ng-model="newDetails">
						</label>
                        <label>
							Deadline
							<div class="dropdown">
								<a class="dropdown-toggle" id="dropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
									<div class="input-group">
										<input type="text" class="form-control" data-ng-model="newDeadline">
										<span class="input-group-addon">
											<i class="glyphicon glyphicon-calendar"></i>
										</span>
									</div>
								</a>
								<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
									<datetimepicker data-ng-model="newDeadline" data-datetimepicker-config="{ dropdownSelector: '#dropdown' }"/>
								</ul>
							</div>
						</label>
                        <label>
                            <input type="checkbox" class="btn btn-primary" ng-model="newAlarm" btn-checkbox>
                            Alarm
                        </label>
                        <input type="submit" class="btn btn-primary input-group" value="Update">
						<uib-alert ng-repeat="alert in x.updateAlert" type="{{alert.type}}" close="closeAlert(x, $index)">{{alert.msg}}</uib-alert>
					</form>
                </div>
			</li>
			<li class="panel panel-default">
                <form class="form-inline panel-heading" ng-submit="addItem(item)">
                    <input class="form-control" type="text" ng-model="item.name">
                    <input type="submit" class="btn btn-primary" value="Add">
                </form>
            </li>
		</ol>
    </div>
</body>
</html>