<!DOCTYPE html>
<html lang="en" ng-app="listAssist" data-framework="angularjs" class="ng-scope">
<head>
    <meta charset="utf-8">
    <title>List Assist</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-animate.js"></script>
    <script src="js/base/ui-bootstrap-tpls-1.3.3.min.js"></script>
    <script src="js/base/datetimepicker.js"></script>
	<script src="js/listassist.js"></script>
    <script src="js/controllers/todoctrl.js"></script>
</head>

<body>
    <div class="container app-wrap ng-scope" ng-controller="todoCtrl">
        <div class="row">
            <div class="col-sm-12">
                <h1 class="text-center">List Assist</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10 select-all-wrapper">
                <label class="sr-only" for="select-all">Select All</label>
                <input type="checkbox" id="select-all" class="select-all">
            </div>
            <div class="col-sm-2 order-by-wrap">
                <label for="order-by">Order By: </label>
                <select id="order-by" class="form-control" ng-change="orderChange()" ng-model="data.orderBy">
                    <option value="entry">Entry</option>
                    <option value="deadline">Deadline</option>
                </select>
            </div>
        </div>
		<ol class="list-group todo-list">
			<li class="panel panel-default" ng-repeat="x in data.todoItems">
                <div class="panel-heading">
                    <div class="checkbox">
                        <label>   
                            <input type="checkbox" class="check-complete" ng-model="x.completed">
                            <h4 class="panel-title">
                                <a class="todo-item" ng-class="{completed: x.completed}" href="#" ng-click="x.isCollapsed = !x.isCollapsed">{{ x.name }} : {{x.details}} | {{x.deadline | date}}</a>
                            </h4>
                        </label>
                    </div>
                </div>
                <div class="panel-body" uib-collapse="x.isCollapsed">
                    <form class="form-inline" ng-submit="updateItem(x, newDetails, newDeadline, newAlarm)">
                        <label class="control-label">Details</label>
                        <input class="form-control" type="text" ng-model="newDetails">
                        <label class="control-label">Deadline</label>
                        <div class="dropdown">
                          <a class="dropdown-toggle" id="dropdown2" role="button" data-toggle="dropdown" data-target="#" href="#">
                            <div class="input-group">
                                <input type="text" class="form-control" data-ng-model="data.dateDropDownInput">
                                <span class="input-group-addon">
                                    <i class="glyphicon glyphicon-calendar"></i>
                                </span>
                            </div>
                          </a>
                          <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <datetimepicker data-ng-model="data.dateDropDownInput" data-datetimepicker-config="{ dropdownSelector: '#dropdown2' }"/>
                          </ul>
                        </div>
                        <label>
                            <input type="checkbox" class="btn btn-primary" ng-model="newAlarm" btn-checkbox>
                            Alarm
                        </label>
                        <input type="submit" class="btn btn-primary" value="Update">
                    </form>
                    <uib-alert ng-repeat="alert in x.updateAlert" type="{{alert.type}}" close="closeAlert(x, $index)">{{alert.msg}}</uib-alert>
                </div>
			</li>
			<li class="panel panel-default">
                <form class="form-inline panel-heading" ng-submit="addItem(item)">
                    <input class="form-control" type="text" ng-model="item.name">
                    <input type="submit" class="btn btn-primary" value="Add">
                </form>
            </li>
		</ol>
    </div>
</body>
</html>